# Python
__pycache__/
*.py[cod]
*$py.class

# Системные файлы
.DS_Store
Thumbs.db

# Виртуальные окружения
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest
.cache
pytest_debug.log

# Логи
*.log

# Пакеты
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
pip-wheel-metadata/

# Jupyter Notebook
.ipynb_checkpoints

# Миграции базы данных
migrations/

# .env файлы
.env
*.env

# Другие файлы конфигурации
*.local

# Poetry
poetry.lock